@charset "utf-8";

/* 미디어쿼리 밖에 쓰면 모든서식에 적용 */


/* pc해상도에 적용되는 서식 */
@media screen and (min-width: 1025px) {

  .wrap{
    width: 1025px;
    margin: 0 auto;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "header header header"
    "nav cont1 cont2"
    "nav footer footer"
    ;
  }

  


}