@charset "utf-8";

html, body{
  scroll-behavior: smooth;
}
a{
  color:#333;
  text-decoration:none;
}
/* common.css */
header{
  height:100px;
  background:#ccc;
  transition:0.5s;
}

/* 헤더영역에 추가될 서식 */
.h_act{
  background:#333 !important;
  position:fixed;
  width:100%;
  z-index:1000;
}

main{
  height:3000px;
  background:#ffff00;
}
footer{
  background:#333;
}
#top_btn{
  background:#fff;
  border:1px solid #ccc;
  padding:0px 8px 5px 8px;
  text-align:center;
  position:fixed;
  right:60px;bottom:100px;
  box-shadow:0px 0px 3px #ccc;
  display:none;  
}

.act{display:block !important;}

